html {
  scroll-behavior: smooth;
}

body {
    background-color: #FFFF;
    color: #33462B;
    font-family: "Jacques Francois", sans-serif;
    font-size: 24px;
}

.site-container, .section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.section {
    padding-top: 5%
}

.main {
    margin-bottom: 0%;
    padding: 0%;
}

.header-image {
    margin-top: 2%;
    width: 30%;
}

.us-header-image {
    width: 40%;
    margin-top: 1%;
}

.header-title {
    font-size: 50px;
    margin: 0px;
    font-weight: bold;
}

.big-text {
    font-size: 36px; 
    margin-bottom: 10px;
}

.date-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3% 0;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.menu-options {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    padding: 0px;
    background-color: #FFFF;
    margin: 0;
    padding: 2%;
}

.sub-link { 
    text-decoration: none;
    font-weight: bold;
}

.sub-image {
    width: 40%;
}

.option { 
    text-decoration: none;
    color:#33462B;
}

.small-text {
    width:80%;
    text-align: center;
}

.sub-title {
    font-size: 50px;
    margin: 20px;
}


.sticky {
  position: sticky;
  top: 0;
  right:0;
  bottom:0;
  left:0;
}

.date {
    margin: 0px 0px 2% 0px;
}

.bottom {
    text-align: center;
    margin: 10px 0px;
}

.initials {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.bottom-image {
    width: 30%;
}

@media (max-width: 800px) {
    .header-title {
        font-size: 40px;
    }
    .section {
        display: flex;
        align-items: center;
        flex-direction: column;
        width:90%;
        text-align: center;
        padding-top: 20%;
    }

    .date-container {
        margin: 10% 0;
    }

    .header-image {
        width: 70%;
    }

    .menu-options {
        width: 90%;
        padding: 25px;
        font-size: 20px;
    }

    .us-header-image {
        width: 90%;
        margin-top: 10%;
    }

    .small-text {
        font-size: 20px;
    }

    .big-text {
        font-size: 34px;
    }

    .sub-image {
        width: 90%;
    }

    .main {
        padding-top: 0px;
    }
}